/**
 * 
 */
package ${package_iapi};

import ${package_model}.${bean}Model;

/**
 * ${comment} <br />
 * Database table: ${table} <br />
 * @author Colin
 */
public interface I${bean}Api extends __IAPI<${bean}Model> {

}
